# Virtual environments
.venv/
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# IDE
.idea/

# Database
*.db
data/processed/

# Logs
*.log

# Vector DB / generated index
chroma/
db/chroma/
data/ocr_cache/

# OS
.DS_Store
Thumbs.db